<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="francaValidator" name="Franca Model Validator" schema="schema/francaValidator.exsd"/>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="fidl"
            id="org.franca.core.dsl.FrancaIDL"
            name="FrancaIDL Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <!--<handler
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.franca.core.dsl.FrancaIDL.validate">
         <activeWhen>
            <reference
                    definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
            </reference>
         </activeWhen>
      </handler>-->
      <handler
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.franca.core.validation.runtime.handler.BatchValidationHandler"
            commandId="org.franca.core.dsl.FrancaIDL.validate">
         <activeWhen>
            <reference
                    definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
        <handler
              class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
              commandId="org.eclipse.xtext.ui.editor.FindReferences">
           <activeWhen>
              <reference
                    definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
              </reference>
           </activeWhen>
        </handler>
        <handler
              class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
              commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
           <activeWhen>
              <reference
                    definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
              </reference>
           </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.franca.core.dsl.FrancaIDL.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.franca.core.dsl.FrancaIDL" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.franca.core.dsl.FrancaIDL"
            name="FrancaIDL">
            <keywordReference id="org.franca.core.dsl.ui.keyword_FrancaIDL"/>
        </page>
        <page
            category="org.franca.core.dsl.FrancaIDL"
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.franca.core.dsl.FrancaIDL.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.franca.core.dsl.ui.keyword_FrancaIDL"/>
        </page>
        <page
            category="org.franca.core.dsl.FrancaIDL"
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.franca.core.dsl.FrancaIDL.templates"
            name="Templates">
            <keywordReference id="org.franca.core.dsl.ui.keyword_FrancaIDL"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.franca.core.dsl.FrancaIDL"
            name="FrancaIDL">
            <keywordReference id="org.franca.core.dsl.ui.keyword_FrancaIDL"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.franca.core.dsl.ui.keyword_FrancaIDL"
            label="FrancaIDL"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.franca.core.dsl.FrancaIDL.validate"
            name="Validate model (expensive constraints)">
      </command>
      <command
            description="Open the quick outline."
            id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
            name="Quick Outline">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.franca.core.dsl.FrancaIDL.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
        <menuContribution
              locationURI="popup:#TextEditorContext?endof=group.find">
           <command
                 commandId="org.eclipse.xtext.ui.editor.FindReferences">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
                 </reference>
              </visibleWhen>
           </command>
        </menuContribution>
        <menuContribution
              locationURI="popup:#TextEditorContext?after=group.open">
           <command
                 commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
                 style="push"
                 tooltip="Open Quick Outline">
              <visibleWhen
                    checkEnabled="false">
                 <reference
                       definitionId="org.franca.core.dsl.FrancaIDL.Editor.opened">
                 </reference>
              </visibleWhen>
           </command>
        </menuContribution>
    </extension>

   <!-- popup menu for *.fidl files -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.fidl"
            id="org.franca.ui.actions.contribution1">
         <menu
               label="Franca"
               path="additions"
               id="org.franca.ui.francaMenu">
            <separator
                  name="groupFrancaCommon">
            </separator>
         </menu>
         <action
               class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.franca.core.dsl.ui.actions.GenerateContractDotAction"
               enablesFor="1"
               id="org.franca.connectors.dbus.ui.actions.generateContractDotAction"
               label="Generate dot-file from contract"
               menubarPath="org.franca.ui.francaMenu/groupFrancaCommon">
         </action>
         <action
               class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.franca.core.dsl.ui.actions.GenerateXMIAction"
               enablesFor="1"
               id="org.franca.core.dsl.ui.generatexmi"
               label="Export in XMI format"
               menubarPath="org.franca.ui.francaMenu/groupFrancaCommon">
         </action>
      </objectContribution>
   </extension>

   <!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="fidl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="fidl">
        </resourceServiceProvider>
    </extension>



	<!-- Quick Outline -->

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.franca.core.dsl.FrancaIDL.compare.contentViewers"
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fidl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.franca.core.dsl.FrancaIDL.compare.contentMergeViewers"
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fidl" label="FrancaIDL Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.franca.core.dsl.FrancaIDL.editors.documentProviders"
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="fidl">
    </provider>
  </extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.franca.core.dsl.ui.FrancaIDLExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

</plugin>
