*.xml_gen
*.MF_gen
.DS_Store
plugins/org.franca.help
plugins/org.franca.tools.contracts.tracegen/bin
plugins/org.franca.tools.contracts.tracegen/traces
plugins/org.franca.tools.contracts.tracegen/xtend-gen
target
