<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Franca Target Platform - Eclipse 4.2" sequenceNumber="29">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.0.0.v201108011202"/>
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.0.0.v201108011202"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.4.0.v201303191501"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.4.0.v201303191413"/>
<repository location="http://download.itemis.com/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.4.0.v201303201134"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.4.0.v201303201134"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.xtext.utils.unittesting.feature.feature.group" version="0.9.3.201204261440"/>
<repository location="http://xtext-utils.eclipselabs.org.codespot.com/git.distribution/releases/unittesting-0.9.x"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="2.1.0.201209190230-r"/>
<unit id="org.eclipse.sdk.feature.group" version="4.2.1.v20120814-120134-7T7oDODQ-3Heq-afCDlg7T4xJuvxaC2ohMfCfB5451Rz0"/>
<unit id="org.eclipse.pde.feature.group" version="3.8.1.v20120814-104528-7c7vFixFFt6Zr5aC6KM6LGWSd"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.1.v20120917-0436"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.6.0.v20120328-0001-777Z-9A_WsZmcPluNecyPkvrPKlH"/>
<unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.1.1.201206051542"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.0.201208201742"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.5.0.201208201742"/>
<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.9.1.v20120919-0732"/>
<!-- the following features are temporarily delivered from download.itemis.com...
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.4.0.v201303191501"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.4.0.v201303191413"/>
-->
<unit id="org.eclipse.swt" version="3.100.1.v4234e"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.mountainminds.eclemma.feature.feature.group" version="2.2.0.201210261515"/>
<repository location="http://update.eclemma.org/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.hudson.feature.group" version="1.0.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.team_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.bugzilla_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.trac_feature.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.git.feature.group" version="1.0.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.commons.feature.group" version="3.8.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.commons.identity.feature.group" version="1.0.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="1.0.3.v20130107-0100"/>
<unit id="org.eclipse.mylyn.commons.repositories.feature.group" version="1.0.3.v20130107-0100"/>
<repository location="http://download.eclipse.org/mylyn/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.compare.feature.group" version="2.1.0.201302050831"/>
<repository location="http://download.eclipse.org/releases/kepler/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="model.emf.dbusxml.feature.feature.group" version="0.7.2.201211052141"/>
<repository location="http://dbus-emf-model.eclipselabs.org.codespot.com/git/update_site/releases/"/>
</location>
</locations>
<environment>
<nl>en</nl>
</environment>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Xmx512m -XX:MaxPermSize=128m</vmArgs>
</launcherArgs>
</target>
