<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Franca Target Platform - Eclipse 4.4" sequenceNumber="1418826065">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140925-0400"/>
      <unit id="org.eclipse.pde.feature.group" version="3.10.0.v20140925-0400"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.zest.sdk.feature.group" version="1.5.101.201408150207"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="3.0.1.201408191310"/>
      <repository id="luna" location="http://download.eclipse.org/releases/luna"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
      <unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
      <repository location="http://download.itemis.com/updates/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.7.3.v201411190455"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.7.0.v201409021051"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.7.0.v201409021027"/>
      <unit id="org.eclipse.emf.common" version="2.10.1.v20140901-1043"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20141013-0308"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.gef4.zest.sdk.feature.group" version="0.1.0.201312280305"/>
      <repository location="http://download.eclipse.org/tools/gef/gef4/updates/integration"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="model.emf.dbusxml.feature.feature.group" version="0.7.8.201401151351"/>
      <repository location="http://dbus-emf-model.eclipselabs.org.codespot.com/git/update_site/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jdt.junit.runners.feature.feature.group" version="0.1.0.201411181552"/>
      <unit id="org.xpect.sdk.feature.group" version="0.1.0.201409041611"/>
      <repository location="http://www.xpect-tests.org/updatesite/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipselabs.xtext.utils.unittesting.feature.feature.group" version="0.9.3.201204261440"/>
      <repository location="http://xtext-utils.eclipselabs.org.codespot.com/git.distribution/releases/unittesting-0.9.x"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.mountainminds.eclemma.feature.feature.group" version="2.3.2.201409141915"/>
      <repository location="http://update.eclemma.org/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.xdoc.feature.feature.group" version="0.1.2.201401061353"/>
      <repository location="http://xdoc4franca-release.eclipselabs.org.codespot.com/git/update_site/releases"/>
    </location>
  </locations>
  <environment>
    <nl>en</nl>
  </environment>
</target>
