<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Franca Target Platform - Eclipse 4.4" sequenceNumber="1470053570">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.4.2.v20150204-1700"/>
      <unit id="org.eclipse.pde.feature.group" version="3.10.1.v20150204-1700"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.3.0.201311221533"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.9.101.201408150207"/>
      <unit id="org.eclipse.zest.sdk.feature.group" version="1.5.101.201408150207"/>
      <unit id="org.eclipse.swt" version="3.103.2.v20150203-1313"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.6.102.v20150204-1316"/>
      <unit id="org.eclipse.emf.compare.feature.group" version="3.0.2.201501201328"/>
      <repository id="luna" location="http://download.eclipse.org/releases/luna"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
      <unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
      <repository location="http://download.itemis.com/updates/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.4.v201508050135"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.8.4.v201508050135"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.2.v201511170842"/>
		<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.2.v201511170833"/>
      <unit id="org.eclipse.emf.common" version="2.10.1.v20150123-0348"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20150123-0452"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.cau.cs.kieler.kiml.feature.feature.group" version="0.0.0"/>
      <unit id="de.cau.cs.kieler.klighd.sdk.feature.feature.group" version="0.8.0.201602161004"/>
      <repository location="http://rtsys.informatik.uni-kiel.de/~kieler/updatesite/release_pragmatics_2016-02"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
		<unit id="model.emf.dbusxml.feature.feature.group" version="0.8.0.201505060831"/>
      <repository location="http://kbirken.github.io/dbus-emf-model/releases/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.csu.idl.feature.group" version="1.1.0.201703291002"/>
      <unit id="com.google.eclipse.protobuf.feature.group" version="1.5.3.201606231628"/>
      <unit id="org.eclipse.xtext.xdoc.feature.feature.group" version="0.1.5.201506301442"/>
      <unit id="org.eclipselabs.xtext.utils.unittesting.feature.feature.group" version="0.9.3.201204261440"/>
      <repository location="http://franca.github.io/franca/update_site/thirdparty"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.jdt.junit.runners.feature.feature.group" version="0.1.0.201411181552"/>
      <unit id="org.xpect.sdk.feature.group" version="0.1.0.201508191347"/>
      <repository location="http://www.xpect-tests.org/updatesite/nightly/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.eclemma.feature.feature.group" version="3.0.1.201711142128"/>
      <repository location="http://update.eclemma.org/"/>
    </location>
  </locations>
  <environment>
    <nl>en</nl>
  </environment>
</target>
