<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.franca.deploymodel.dsl.ui.defaultValueProvider">
      <defaultValueProvider
            class="org.franca.examples.extensions.ExampleDefaultValueProvider"
            name="Sample default value provider">
      </defaultValueProvider>
   </extension>
</plugin>
