<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.franca.core.dsl.francaValidator">
      <validator
            class="org.franca.core.validation.validators.PackageNameValidator"
            mode="FAST"
            name="Package name validator">
      </validator>
      <validator
            class="org.franca.core.validation.validators.UniqueStateNameValidator"
            mode="EXPENSIVE"
            name="Unique state name validator">
      </validator>
   </extension>
</plugin>
