<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.franca.core.validation.runtime.francaValidator">
      <validator
            class="org.franca.core.validation.validators.PackageNameValidator"
            isLive="true"
            name="Package name validator">
      </validator>
      <validator
            class="org.franca.core.validation.validators.UniqueStateNameValidator"
            isLive="false"
            name="Unique state name validator">
      </validator>
   </extension>

</plugin>
