<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="fdepl"
            id="org.franca.deploymodel.dsl.FDeploy"
            name="FDeploy Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.franca.deploymodel.dsl.FDeploy.validate">
         <activeWhen>
            <reference
                    definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
		<!-- copy qualified name -->
		<handler
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.franca.deploymodel.dsl.FDeploy.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.franca.deploymodel.dsl.FDeploy" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
		<definition id="org.franca.deploymodel.dsl.FDeploy.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.franca.deploymodel.dsl.FDeploy"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.franca.deploymodel.dsl.FDeploy"
            name="FDeploy">
            <keywordReference id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"/>
        </page>
        <page
            category="org.franca.deploymodel.dsl.FDeploy"
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.franca.deploymodel.dsl.FDeploy.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"/>
        </page>
        <page
            category="org.franca.deploymodel.dsl.FDeploy"
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.franca.deploymodel.dsl.FDeploy.templates"
            name="Templates">
            <keywordReference id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.franca.deploymodel.dsl.FDeploy"
            name="FDeploy">
            <keywordReference id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"
            label="FDeploy"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.franca.deploymodel.dsl.FDeploy.validate"
            name="Validate">
      </command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.franca.deploymodel.dsl.FDeploy.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.franca.deploymodel.dsl.FDeploy.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="fdepl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="fdepl">
        </resourceServiceProvider>
    </extension>
	<!-- marker definitions for org.franca.deploymodel.dsl.FDeploy -->
	<extension
			id="fdeploy.check.fast"
			name="FDeploy Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="fdeploy.check.normal"
			name="FDeploy Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="fdeploy.check.expensive"
			name="FDeploy Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
      <participant
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="fdepl"/>
   </extension>
	<extension point="org.eclipse.ui.preferencePages">
        <page
            category="org.franca.deploymodel.dsl.FDeploy"
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.franca.deploymodel.dsl.FDeploy.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"/>
        </page>
    </extension>
	<extension point="org.eclipse.ui.propertyPages">
        <page
            category="org.franca.deploymodel.dsl.FDeploy"
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.franca.deploymodel.dsl.FDeploy.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.franca.deploymodel.dsl.FDeploy.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.franca.deploymodel.dsl.FDeploy -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.franca.deploymodel.dsl.ui.fdeploy.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.franca.deploymodel.dsl.ui.fdeploy.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.franca.deploymodel.dsl.ui.fdeploy.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
      </markerResolutionGenerator>
   </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.franca.deploymodel.dsl.FDeploy.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.franca.deploymodel.dsl.FDeploy"
	        class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.franca.deploymodel.dsl.FDeploy.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.franca.deploymodel.dsl.ui.keyword_FDeploy"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.franca.deploymodel.dsl.FDeploy.compare.contentViewers"
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fdepl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.franca.deploymodel.dsl.FDeploy.compare.contentMergeViewers"
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fdepl" label="FDeploy Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.franca.deploymodel.dsl.FDeploy.editors.documentProviders"
            class="org.franca.deploymodel.dsl.ui.FDeployExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="fdepl">
    </provider>
  </extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="fdepl"
			type="text">
		</fileTypes>
	</extension>

  <extension-point id="defaultValueProvider" name="Franca Default Value Provider" schema="schema/defaultValueProvider.exsd"/>

</plugin>
