
body, div, img, p {
	padding:0;
	margin:0;
	margin:auto;
}

body {
	font-family: Verdana;
	font-size: 12px;
	color: #fff;
	background-color:#000;
}

a:link { color: yellow; } 
a:visited { color: yellow; }

title {
	text-align:center;
	font-family:Georgia,serif;
	font-size:18px;
	color:#2E2E2E;
}

#container { height: 600px; width: 600;}

.bigframe td {
	//vertical-align: top;
	padding: 25px;
	background-color: grey;
    border-radius: 15px;
    -moz-border-radius: 15px;
}

.desc text {
	fill: lightgrey;
}

.button1 {
	background-color: lightyellow;
	color: black;
	font-size: 32px;
	border-radius: 6px;
	border: none;
	
	// fixed width
	display: inline-block;
	min-width: 250px;
	width: 250px;
	padding:5px 10px;
}

.text1 {
	font-size: 32px;
	fill: lightgrey;
}

