
body, div, img, p {
	padding:0;
	margin:0;
	margin:auto;
}

body {
	font-family: Verdana;
	font-size: 12px;
	color: #fff;
	background-color:#000;
}

.franca-example .franca-content {
	padding-top: 6em;
}

a:link { color: yellow; } 
a:visited { color: yellow; }

title {
	text-align:center;
	font-family:Georgia,serif;
	font-size:16px;
	color:#2E2E2E;
}

#container { height: 500px; width: 500;}

.bigframe td {
	//vertical-align: top;
	width: 100%;
	padding: 20px;
	background-color: grey;
    border-radius: 12px;
    -moz-border-radius: 12px;
}

.desc text {
	fill: lightgrey;
}

.button1 {
	background-color: lightyellow;
	color: black;
	font-size: 24px;
	border-radius: 6px;
	border: none;
	
	// fixed width
	display: inline-block;
	min-width: 180px;
	width: 180px;
	padding:5px 10px;
}

.text1 {
	font-size: 24px;
	fill: lightgrey;
}


/* Status line */
#statusline .ui-block-a {
    width: 80% !important;
}

#statusline .ui-block-b {
    width: 20% !important;
    text-align: center;
}


/* Google Maps integration */
#pMap, #map-canvas { width: 100%; height: 100%; padding: 0; }

