<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.franca.core.dsl.ui.francamenu"
               label="Franca">
            <command
                  commandId="org.franca.generators.ui.generatejs"
                  label="Generate JS Code"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.franca.core.dsl.ui.fidl">
                  </reference>
               </visibleWhen>
            </command>
                     </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.franca.generators.ui.generatejs"
            name="Generate JS Code">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.franca.generators.ui.FrancaGeneratorsExecutableExtensionFactory:org.franca.generators.ui.handlers.GenerateJSHandler"
            commandId="org.franca.generators.ui.generatejs">
      </handler>
   </extension>

</plugin>
